*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


.wrapper {
    display: flex;  
    flex-flow: row wrap;
    margin: 0;
    padding: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center; 
    background-color: #1B1924;
    color: #FFF;
    user-select: none;
    height: 100vh;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;
}

/* Medium screens */
.aside {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  flex-grow: 1 ;
  flex-shrink: 0;
}


.fromToContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
}

.endorsment {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    flex-grow: 1 ;
    flex-shrink: 0;
	overflow-y: auto;
}
  
/* component code */
img {
    width: 90px;
    margin: 0 auto;
}

#input-field {
    color: #8F8F8F;
    background-color: #444059;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    box-sizing: border-box;
    height: 120px;
    resize: none;
}

.subInput{
    color: #8F8F8F;
    background-color: #444059;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    width: 48%;
    box-sizing: border-box;
}

button {
    color: #04131C;
    background-color: #28A9F1;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    user-select: all;
    cursor: pointer;
    margin-top: 10px;
}


.endorsement-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px 0;
  }
  
  .endorsment-list {
    display: flex;
    flex-direction: column;
    /*max-height: 800px;*/
    /*overflow-y: auto;*/
  }
  
  .list-block {
    /*flex: 1;*/
    color: #1b1924;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    gap: 0.5em;
    font-size: 0.875rem;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .list-block-none {
    display: none;
  }
  
  .list-from-like {
    display: flex;
    justify-content: space-between;
  }
  
  .list-count-like {
    display: flex;
    justify-content: space-between;
  }
  
  .list-header-footer {
    font-weight: bold;
  }
  
  .icon {
    cursor: pointer;

  }
  