.wrapper {
    display: flex;  
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    text-align: center; 
    background-color: #1B1924;
    color: #FFF;
    user-select: none;
    height: 100vh;
    align-items: stretch;
}

/* Medium screens */
.aside {
  background: gold;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 350px;
  flex-grow: 1 ;
  flex-shrink: 0;
}


.fromToContainer {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: space-between;
    margin: 0px auto;
}

.endorsment {
    display: flex;
    flex-direction: column;
    background: deepskyblue;
    margin: auto 30px;
    flex-basis: 350px;
    flex-grow: 1 ;
    flex-shrink: 0;
}
  
/* component code */
img {
    width: 90px;
    margin: 0 auto;
}

#input-field {
    color: #8F8F8F;
    background-color: #444059;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.subInput{
    color: #8F8F8F;
    background-color: #444059;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 48%;
    box-sizing: border-box;
}

button {
    color: #04131C;
    background-color: #28A9F1;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    user-select: all;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFF;
    color: #1B1924;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) ;
    box-sizing: border-box;

}

.endorsement-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 8px 0;
  }
  
  .comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*max-height: 800px;*/
    /*overflow-y: auto;*/
  }
  
  .list-block {
    /*flex: 1;*/
    color: #1b1924;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    gap: 0.5em;
    font-size: 0.875rem;
    margin-bottom: 10px;
  }
  
  .list-block-none {
    display: none;
  }
  
  .list-from-like {
    display: flex;
    justify-content: space-between;
  }
  
  .list-count-like {
    display: flex;
    justify-content: space-between;
  }
  
  .list-header-footer {
    font-weight: bold;
  }
  
  .icon {
    cursor: pointer;
  }
  